 * {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

body{
<<<<<<< HEAD

=======
    
>>>>>>> b7daaedc9371f84c6e52f6702572e41a0a380e4d
    background-color: #e9e3e3;
    padding-bottom: 0;
}

section {
    display: none; /* Esconde todas as seções inicialmente */
    
}
section.active {
    display: block; /* Mostra a seção ativa */
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 
a, p{       
    border: 1px solid red;
}  */

.navbar { 
    background: linear-gradient(rgba(83, 153, 170, 1) 0%, 
rgba(64, 119, 132, 1) 50%, 
rgba(33, 61, 68, 1) 100%); 
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;  
    padding: 10px 20px;
    height: 7%;
    z-index: 100;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Alinha os itens na horizontal */
    justify-content: flex-start; /* Alinha à esquerda */
}

.navbar li {
    margin: 0 15px; /* Espaço entre os links */
}

.navbar a {
    text-decoration: none; /* Remove o sublinhado */
    color: white;
    padding: 5px 10px; /* Define espaçamento interno */
    transition: transform 0.3s ease-in, background-color 0.3s ease; /* Animações suaves */
}

  /* Apenas o link sob o mouse é movido */
.navbar #nav-link{   
    position: relative;
    display: block;
    font-size: 1.5cap; 
    left:15rem;
    border: 1px solid white;
    border-radius: 5px;
}

#nav-link:hover {
    font-weight: bold;
    background-color: #ffc107; /* Cor de fundo para destaque */
}

<<<<<<< HEAD
=======
.nav-link.active {
    color: #ffc107; 
    font-weight: bold;
} */
a{       
    border: 1px solid red;
} 

>>>>>>> b7daaedc9371f84c6e52f6702572e41a0a380e4d
#text-logo{
    position: relative;
    display: block;
    color: #FFF;   
<<<<<<< HEAD
    font-size:2.5cap;
    bottom: 0.7rem;      
    right: 64rem;
    z-index: 3;
    text-decoration: none;
    width: 5rem;
=======
    font-size: 3cap;
    bottom: 7.5rem;
    left: 6rem;
    z-index: 3;
    text-decoration: none;
    width: 7rem;
>>>>>>> b7daaedc9371f84c6e52f6702572e41a0a380e4d
}

#text-logo:hover{
    font-weight: bold;
    color: #FFC107;
}

#logo{    
    position: relative;
    display: block;
<<<<<<< HEAD
    
    bottom: 1rem;
    right: 76rem;
=======
    width: 5dvh;
    height: 5dvh;
    bottom: 10.8rem;
    left: 1rem;

>>>>>>> b7daaedc9371f84c6e52f6702572e41a0a380e4d
}

#logo1{ 
    width: 6dvh;
    height: 6dvh;  
} 

#logo1:hover{
    width: 6.4dvh;
    height: 6.4dvh;
}

#login{
    position: relative;
    display: block;
<<<<<<< HEAD
    width: 4dvh;
    height: 4dvh;
    top: -0.9rem;
    left: 41.2rem;   
    
    z-index: 5;
=======
    width: 6dvh;
    height: 6dvh;
    bottom: 4.3rem;
    left: 122rem;   
    z-index: 5;

>>>>>>> b7daaedc9371f84c6e52f6702572e41a0a380e4d
}

#login1{
    width: 4dvh;
    height: 4dvh;    
}

#login1:hover{
    width: 4.2dvh;
    height: 4.2dvh;
}

.cta-button{
    color: #FFF;     
    font-size: 2cap;
    text-decoration: none;
    position: relative;
    display: block;
    transition: 0.5s ease; 
<<<<<<< HEAD
    bottom: 0.5rem;
    left: 43rem;  
    width: 7.8rem;
    justify-content: center;
=======
    top: 10rem;
    left: 10rem;  
    width: 8rem;

>>>>>>> b7daaedc9371f84c6e52f6702572e41a0a380e4d
}

.cta-button:hover{
    font-weight: bold;
    color: #ffc107; 
}
/* NavBar - Fim */

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Footer - Início  */
footer{
    background: linear-gradient(rgba(83, 153, 170, 1) 0%, 
rgba(64, 119, 132, 1) 50%, 
rgba(33, 61, 68, 1) 100%);
    width: 100%;
    color: #FFF;
<<<<<<< HEAD
    position:static;
=======
    position: fixed;
>>>>>>> b7daaedc9371f84c6e52f6702572e41a0a380e4d
    text-align: center;
    bottom: 0; 
    z-index: 6;
}

.footer p {
    font-weight: bold;
    top: 1.2rem;
    width: 8%;
    position: relative;
    justify-self:center;
}

.social-links a {
    color: #ffffff;
    text-decoration: none;   
}
.social-links a:hover {
    text-decoration: none;
} 

#social-links { 
    position: relative;  
    display: inline-block;
    bottom: 0.5rem;       
    right: 47rem;
    height: 1.8rem;
    transition: all 0.25s ease-in-out;
}

#social-links1 { 
    width: 2rem;
    height: 2rem;    
    transition: all 0.25s ease-in-out;
}

#social-links1:hover{
    width: 2.2rem;
    height: 2.2rem;    
}
/* Footer - Fim*/
<<<<<<< HEAD

/* main - Início */

.img-criança-livro{
    position: relative;
    height: 50%;
    width: 50%;
    top: 4.5rem;
}

.hero-cta{
    position: relative;
    left: 140dvh;
    color: #000;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
}

.hero-text{
    position: relative;
    display: block;
    bottom: 25rem;
    left: 85rem;
    width: 20%;
    text-align:justify;
    font-size: 2cap;
}

.title-descripion{
    margin-bottom: 1.2rem;
}

.hero-cta{
    background-color: rgba(64, 119, 132, 1);
    
}

/* main - Fim */

/* login e cadastro - Início */


=======


/* Estilo Geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar { 
background: linear-gradient(rgba(83, 153, 170, 1) 0%, 
rgba(64, 119, 132, 1) 50%, 
rgba(33, 61, 68, 1) 100%); 
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.navbar ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex; /* Alinha os itens na horizontal */
    justify-content: flex-start; /* Alinha à esquerda */
    
}

.navbar li {
    margin: 0 15px; /* Espaço entre os links */
    
}

.navbar a {
  text-decoration: none; /* Remove o sublinhado */
    color: white;
    padding: 5px 10px; /* Define espaçamento interno */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animações suaves */
}

/* Apenas o link sob o mouse é movido */
.navbar a:hover {
    transform: translateY(-5px); /* Move o link para cima */
    background-color: #ffc107; /* Cor de fundo para destaque */
    border-radius: 5px; /* Adiciona arredondamento */
}
>>>>>>> b7daaedc9371f84c6e52f6702572e41a0a380e4d
