 * {
    padding: 0;
    margin: 0; 
    font-family: 'Roboto', sans-serif;  
}

body{
    
    background-color: #e9e3e3;
    padding-bottom: 1000rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* NavBar - Inicio */
/* nav{
    background: linear-gradient(rgba(83, 153, 170, 1) 0%, 
rgba(64, 119, 132, 1) 50%, 
rgba(33, 61, 68, 1) 100%);
    height: 8dvh;    
    width: 100%;    
    display: flex;
    position: fixed;
    justify-content: center;    
    gap: 5dvh;
    z-index: 1;
}

.nav-link{
    position: relative;
    display: block;   
    text-decoration: none;
    height: 50%;
    font-size: 2.5cap;    
    top: 2.0dvh;
    left: 40dvh;
    z-index: 2;   
    color: #FFF;  
    
}

.nav-link:hover {
    font-weight: bold;
    color: #ffc107; 
}

.nav-link.active {
    color: #ffc107; 
    font-weight: bold;
} */
a{       
    border: 1px solid red;
} 

#text-logo{
    position: relative;
    display: block;
    color: #FFF;   
    font-size: 3cap;
    bottom: 7.5rem;
    left: 6rem;
    z-index: 3;
    text-decoration: none;
    width: 7rem;
}

#text-logo:hover{
    font-weight: bold;
    color: #FFC107;
}

#logo{    
    position: relative;
    display: block;
    width: 5dvh;
    height: 5dvh;
    bottom: 10.8rem;
    left: 1rem;

}

#logo1{ 
    width: 5dvh;
    height: 5dvh;  
} 

#logo1:hover{
    width: 6.2dvh;
    height: 6.2dvh;
}

#login{
    position: relative;
    display: block;
    width: 6dvh;
    height: 6dvh;
    bottom: 4.3rem;
    left: 122rem;   
    z-index: 5;

}

#login1{
    width: 6dvh;
    height: 6dvh;    
}

#login1:hover{
    width: 6.2dvh;
    height: 6.2dvh;
}

.cta-button{
    color: #FFF;     
    font-size: 2cap;
    text-decoration: none;
    position: relative;
    display: block;
    transition: 0.5s ease; 
    top: 10rem;
    left: 10rem;  
    width: 8rem;

}

.cta-button:hover{
    font-weight: bold;
    transform: translateY(-5px);
    background-color: #ffc107; 
    border-radius: 5px;
}
/* NavBar - Fim */

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Footer - Início  */
footer{
    background: linear-gradient(rgba(83, 153, 170, 1) 0%, 
rgba(64, 119, 132, 1) 50%, 
rgba(33, 61, 68, 1) 100%);
    width: 100%;
    color: #FFF;
    position: fixed;
    text-align: center;
    bottom: 0; 
    z-index: 6;
}

.footer-content p {
    margin: 0.1dvh 0;
}

.social-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    text-decoration: underline; 
} 
/* Footer - Fim*/


/* Estilo Geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar { 
background: linear-gradient(rgba(83, 153, 170, 1) 0%, 
rgba(64, 119, 132, 1) 50%, 
rgba(33, 61, 68, 1) 100%); 
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.navbar ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex; /* Alinha os itens na horizontal */
    justify-content: flex-start; /* Alinha à esquerda */
    
}

.navbar li {
    margin: 0 15px; /* Espaço entre os links */
    
}

.navbar a {
  text-decoration: none; /* Remove o sublinhado */
    color: white;
    padding: 5px 10px; /* Define espaçamento interno */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animações suaves */
}

/* Apenas o link sob o mouse é movido */
.navbar a:hover {
    transform: translateY(-5px); /* Move o link para cima */
    background-color: #ffc107; /* Cor de fundo para destaque */
    border-radius: 5px; /* Adiciona arredondamento */
}
